torch
torchvision
Pillow==9.5.0
accelerate
pdf2image
cmake
pkgconfig
poppler-utils
layoutparser
opencv-python
layoutparser[ocr]
pytesseract
pymupdf
tabula-py
img2table
llama-index
llama-index-core
llama-index-embeddings-huggingface
llama-index-postprocessor-flag-embedding-reranker
llama-parse
bitsandbytes
llama-cpp-python
transformers
scikit-learn
chromadb